<div>
	{% include about.html %}
</div>
<div>
	<ul>
	{% for post in site.posts limit:10 %}
		{% if post.secret != true %}
		  <li>
		  	<a href="{{ post.url | prepend: site.baseurl }}">
		      	<div>
		      		<img src="{{ site.baseurl }}/assets/post/thumbnail/{{ post.feature }}" alt="{{ post.title }}">
		      	</div>	  	
		      	<div>
		      		<span>{{ post.title }}</span>
		      	</div>
		    </a>
		  </li>
	  	{% endif %}
	{% endfor %}
	</ul>
</div>
<div class="archive"><a href="{{ site.baseurl }}/archive">Archive</a></div>